<script setup>

</script>

<template>
  <header class="background_color_eeeeee">
    <div class="container">
      <nav class="display_flex mt-2 mt-md-0 ms-0 justify_content_between align_items_center">
        <div class="col_47">
          <div class="display_flex mt-2 mt-md-0 ms-0 justify_content_between align_items_center">
            <span class="me-3 py-2 col_47">DrTopo</span>
            <router-link :to="{name: 'Areas'}" class="me-3 py-2 justify_self_end col_47">Lieux</router-link>
          </div>

        </div>

        <div class="display_flex justify_content_between align_items_center">
          <router-link v-show="!isLogged" :to="{name: 'Signup'}" class="mx-3 py-2">S'inscrire</router-link>
          <router-link v-show="isLogged" :to="{name: 'Profile'}" class="mx-3 py-2">Nom d'utilisateur</router-link>
          <router-link v-show="!isLogged" :to="{name: 'Signin'}" class="mx-3 py-2">Se connecter</router-link>
          <a v-on:click="logout" v-show="isLogged" class="me-3 py-2 ">Deconnexion</a>
          
        </div>
      </nav>
    </div>
      
  </header>
  <RouterView/>
</template>

<script>

export default {
  name: 'App',
  components: {
    
  },
  data () {
    return {
      isLogged: false
    }
  },
  watch: {
    '$route' () {
      this.isLogged = localStorage.getItem('token') !== null
    }
  },
  created() {
    this.isLogged = localStorage.getItem('token') !== null
  },
  methods: {
    logout() {
      localStorage.removeItem('token')
      this.isLogged = false
      this.$router.push({ path: '/' })
    }
  }

}

</script>


<style scoped>
  a.router-link-active, a.router-link-exact-active {
    color: #ec0f0f;
  }
</style>



