
<template>
  <li class="ps-2 d-inline-block width_100p" :class="{ classe_paire: index%2 === 0 ? 'classe_paire' : '' }"  v-for="(area, index) in areas" :style="index" :area_name="area.name" :key="area._id">
    <div class="d-flex flex_wrap justify_content_between align_items_center color_271563 fs-5">
      <div class="width_35p my-2">
        <RouterLink :to="`/areas/${area._id}`" class="">{{ area.name }}</RouterLink>
      </div>
      
      <div v-if="nombreVoies" class="width_10p justify_self_end text_end flex_grow_1 my-2 pe-3">
        <span class="">{{ area.routes.length }} voies</span>
      </div> 
      <div>
        <RouterLink class="mx-3" v-if="ajouter" :to="{ path: '/areas/'+`${area._id}`+'/edit'}">ajouter</RouterLink> 
        <RouterLink class="mx-3" v-if="modifier" :to="{ path: '/areas/'+`${area._id}`+'/edit'}">modifier</RouterLink>
        <span @click="supprimer_area(area._id, index)" class="ms-1 text_decoration_underline mx-3 color_0000EE cursor_delete" v-if="supprimer">supprimer</span>
      </div>
    </div>
  </li>
  <p class="my-3" v-if="aucune_area">{{ aucune_area }}</p>
</template>



<script>

import { jwtDecode } from "jwt-decode";
import { toast } from 'vue3-toastify';

export default {
  props: { areas: null,
    area_name: {
      type: String,
      },
      ajouter: {
        type: Boolean
      },
      modifier: {
        type: Boolean
      },
      supprimer: {
        type: Boolean
      },
      nombreVoies:{
        type: Boolean
      },
      aucune_area:{
        type: String
      }
    },  
          name: 'AreasList',
      components: {
        },
data() {
  return {
    id_user_verification_profil_lui_appartient: "",
  };
},
methods:{
  supprimer_area(id, index){
    
     //Vérifier que c'est la route de l'utilisateur connecté.
     const verification_username_connecte = this.obtenir_nom_utilisateur()
     if(this.areas[index].user._id != this.id_user_verification_profil_lui_appartient)
        this.$route.push('/403'); 
    //Au moment de cliquer. Doit être connecté.
     if(verification_username_connecte){
      fetch('https://kgenest-tp3-420-15d-fx.vercel.app/areas/'+id, {
      method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + localStorage.getItem('token')
          }
      })
      .then(response => {
        return response.json()
      })
      .then( () => {
         //faire une rétro-action
         const notify = () => {
          toast("Effacement de la voie!", {
              autoClose: 5000,
              position: toast.POSITION.TOP_RIGHT,
          });
         } 
         notify() 
         this.areas[index].remove();
      })
      .catch(error => console.log('error', error))
     }
      
    },
    obtenir_nom_utilisateur(){
    if (localStorage.getItem('token')) {
       //valider le token
      let token = localStorage.getItem('token');
        // JWT à décoder
        // Décodage du JWT
        const decodedToken = jwtDecode(token);
        const obj_data = JSON.parse(decodedToken.data);
        this.id_user_verification_profil_lui_appartient = obj_data.id
        const username = obj_data.name
        // Récupération des informations contenues dans le payload
       const dateNow = new Date();
        if (decodedToken.exp < dateNow.getTime() / 1000) 
          this.$route.push('/signin');
        return username
      }
    }
},

computed: {


},
created() {


  
  // this.$store = useCounterStore(); // <== Récupération du store si on ne passe pas par mapState
},
mounted() {


  
// this.$store = useCounterStore(); // <== Récupération du store si on ne passe pas par mapState
},
};

</script>


<style scoped>

</style>