

<template>
    <li class="ps-2 d-inline-block width_100p" :class="{classe_paire: index%2 === 0 ? 'classe_paire' : ''}"  v-for="(route, index) in routes" :style="index" :key="route">
      <div class="d-flex flex_wrap justify_content_between align_items_center color_271563">
        <div class="width_25p my-2">
          <RouterLink :to="{ path: '/routes/'+`${route._id}`}" :class="{'fs-6': taille_police}">{{ route.name }}</RouterLink>
        </div>
        <div v-if="la_area" v:model="route" class="width_35p my-2 text_start flex_grow_1">
          <RouterLink :to="{ path: '/areas/'+`${route.area._id}`}" v:bind="route">{{ route.area.name }}</RouterLink>
        </div>
        <div class="width_15p my-2">
          <span class="" :class="{'fs-6': taille_police}">{{ route.grade.text }}</span>
        </div>  
        <div class="width_15p my-2">
          <span class="" :class="{'fs-6': taille_police}">{{ route.type }}</span>
        </div> 
        <div>
          <RouterLink class="mx-3" v-if="modifier" :to="{ path: '/routes/'+`${route.area}`+'/edit'}">modifier</RouterLink>
          <RouterLink class="mx-3" v-if="ajouter" :to="{ path: '/routes/'+`${route.area}`+'/edit'}">ajouter</RouterLink>
          <span @click="supprimer_route(route._id, index)"  class="mx-3 text_decoration_underline color_0000EE cursor_delete" v-if="supprimer">supprimer</span>
        </div>
      </div>
    </li>
    <p class="my-3" v-if="aucune_voie">{{ aucune_voie }}</p>
</template>



<script>
import { jwtDecode } from "jwt-decode";
import { toast } from 'vue3-toastify';
export default {
  props: { routes: null,
    area_name: {
      type: String,
    
      },
      modifier: {
        type: Boolean
      },
      ajouter: {
        type: Boolean
      },
      supprimer: {
        type: Boolean
      },
      la_area: {
        type: Boolean
      },
      aucune_voie: {
        type: String
      },
      taille_police: {
        type: Boolean
      },
      area_id:{
        type: String
      }

  }, 
  name: 'RoutesList',
  components: {
  },
  data() {
    return {
      id_user_verification_profil_lui_appartient: "",
    };
  },
  methods: {
    supprimer_route(id, index){
     
      //Vérifier que c'est la route de l'utilisateur connecté.
      const verification_username_connecte = this.obtenir_nom_utilisateur()
      if(this.areas[index].user._id != this.id_user_verification_profil_lui_appartient)
        this.$route.push('/403'); 
       //Au moment de cliquer. Doit être connecté.
      if(verification_username_connecte){
        fetch('https://kgenest-tp3-420-15d-fx.vercel.app/routes/'+id, {
          method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                "Authorization": "Bearer " + localStorage.getItem('token')
              }
          })
          .then(response => {
            return response.json()
          })
          .then(() => {

            //faire une rétro-action
            const notify = () => {
              toast("Effacement de la voie!", {
                autoClose: 5000,
                position: toast.POSITION.TOP_RIGHT,
              });
             } 
             notify()  
           
            this.routes[index].remove();
         
          })
          .catch(error => console.log('error', error))
          }
     
    },
    obtenir_nom_utilisateur(){
    if (localStorage.getItem('token')) {
       //valider le token
      let token = localStorage.getItem('token');
        // JWT à décoder
        // Décodage du JWT
        const decodedToken = jwtDecode(token);
        const obj_data = JSON.parse(decodedToken.data);
        this.id_user_verification_profil_lui_appartient = obj_data.id
        const username = obj_data.name
        // Récupération des informations contenues dans le payload
       const dateNow = new Date();
        if (decodedToken.exp < dateNow.getTime() / 1000) 
          this.$route.push('/signin');
        return username
      }
    }

    },
  computed: {


  },
  created() {
    // this.$store = useCounterStore(); // <== Récupération du store si on ne passe pas par mapState
  },

};

</script>


<style scoped>

</style>