<template>
  <main class="container">
    <h1>Lieux</h1>
    <ul class="ps-0">
        <AreasList :nombreVoies="true" :ajouter="false" :modifier="false" :areas="areas"/>
    </ul>
  </main>
</template>


<script>
import AreasList from '../components/AreasList.vue'
export default {
  name: 'AreasView',
  components: {
    AreasList 
  },
  data() {
    return {
      areas: [],
      nouvelle_propriete: "",
    };
  },
  computed: {
    
    // mapState permet de récupérer les données du CounterStore (state et getters)

  },
  methods: {
    /** Comment je lui ai passé son id */
      loadAreas() {
      fetch('https://kgenest-tp3-420-15d-fx.vercel.app/areas', {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              }
            })

      .then(response => {
      
        return response.json()
      })
      .then(data => {
        //c'est areas mais avec l'argument root. 
        this.areas = data;
       
        //ajouter une propriété spéciale
      })
      .catch(error => console.log('error', error))
    },
  
  
  }, 
    
  
   // cycle de vie de l'application
   created() {
  
    },
    mounted() {
  
      this.loadAreas();
    
    }
};

</script>


<style scoped>

</style>
