<script setup>

</script>

<template>

   <main class="container">
    <section class="color_271563 fs-5">
        <h1>{{ page_titre }}</h1>
        <div class="ms-0 display_flex justify_content_between no_wrap">
          <form class="width_55p mt-2" @submit.prevent="creer_lieu" novalidate>
            <div class="mb-3">
              <label class="d-block" for="txt_name">Nom</label>
              <input class="form-control py-2" v-model="name" placeholder="" id="txt_name"/>
              <span v-bind="champ_erreur_name" class="invalid-feedback" :class="{ 'd_block_important': champ_erreur_name !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_name }}</span>
            </div>


            <div class="ms-0 display_flex align_items_center my-3 fs-5 color_271563">
              <div class="mb-3 width_65p">
                <label class="d-block mb-1" for="inp_longitude">Longitude</label>
                <input class="form-control py-2" v-model="longitude" placeholder="" type="text" />
                <span v-bind="champ_erreur_longitude" class="invalid-feedback" :class="{ 'd_block_important': champ_erreur_longitude !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_longitude }}</span>
              </div>

              <div class="mb-3 ms-3 flex_grow_1">
                <label class="d-block mb-1" for="inp_latitude">Latitude</label>
                <input class="form-control py-2" v-model="latitude" placeholder="" type="text" />
                <span  v-bind="champ_erreur_latitude" class="invalid-feedback" :class="{ 'd_block_important': champ_erreur_latitude !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_latitude }}</span>
              </div>
            </div>


            <div class="mb-3">
                <label class="d-block mb-1" for="textarea_description">Description</label>
                <textarea class="form-control py-2" v-model="description" placeholder="" rows="5" id="textarea_description">
                </textarea>
                <span  v-bind="champ_erreur_description" class="invalid-feedback" :class="{ 'd_block_important': champ_erreur_description !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_description }}</span>
            </div>


            <div class="mb-3">
                <label class="d-block mb-1" for="textarea_gettingthere">S'y rendre</label>
                <textarea class="form-control py-2" v-model="gettingthere" placeholder="" rows="5" id="textarea_gettingthere">
                </textarea>
                <span v-bind="champ_erreur_gettingthere" class="invalid-feedback" :class="{ 'd_block_important': champ_erreur_gettingthere !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_gettingthere }}</span>
            </div>

            <button class="width_25p ps-4 pe-3 color_white border_radius_50rem color_gradient_rouge py-2" type="submit">{{ bouton }}</button>

          </form>
          <div v-if="modification" class="col_40">
            <h2 class="fs-3 mt-0 mb-0">Voies</h2>
              <ul class="ps-0 mt-0">
                <RoutesList :routes="routes" :taille_police="taille_police"/>
              </ul>
              <div v-if="aucun"><p class="mb-1">Aucune voie.</p></div>
          </div>
        </div>
        
    </section>
  </main>

</template>

<script>
import { jwtDecode } from "jwt-decode";
import RoutesList from '../components/RoutesList.vue'

export default {
  name: 'AreaFormView',
  components: {
    RoutesList
  },
  data() {
    return {
      page_titre: "",
      name: "",
      latitude: "",
      longitude: "",
      description: "",
      gettingthere: "",
      routes: [],
      user_id: "",
      errors: [],
      champ_erreur_name: "",
      champ_erreur_latitude: "",
      champ_erreur_longitude: "",
      champ_erreur_description: "",
      champ_erreur_gettingthere: "",
      modification: "",
      bouton: "",
      aucun: false,
      taille_police: "",
      msg: ""
    };
  },
  computed: {
    
    // mapState permet de récupérer les données du CounterStore (state et getters)

  },
  methods: {
    /** Comment je lui ai passé son id */
    creer_lieu() {
      const champ_erreur_array = this.validation_champs_creation_lieu()
      if(champ_erreur_array.length > 0){
        this.trouver_champs_erreurs_ajouter_message_erreur(champ_erreur_array)
      }
      else{

          if(this.$route.name == "AreasNew"){
            fetch('https://kgenest-tp3-420-15d-fx.vercel.app/areas/', {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
                  "Authorization": "Bearer " + localStorage.getItem('token'),
                },
                body: JSON.stringify({
                  name: this.name,
                  lon: parseFloat(this.longitude),
                  lat: parseFloat(this.latitude),
                  description: this.description,
                  gettingThere: this.gettingthere,
                  routes: this.routes,
                  user: this.obtenir_user_connecte(),
                }),
              })
              .then(response => {
                if(response.status === 201) {
                        return response.json();
                    } else {
                        if(response.status === 409){
                            //récupérer le nom dans le message d'erreur
                            console.log("ToDo")
                        }else
                          throw new Error("Erreur !");
                    }
              })
              .then(() => {
                //pour la rétroaction
                  this.msg = "creer-lieu!"
                  this.$router.push({ name: 'Profile', params: { msg: this.msg } }); 
              })
              .catch(error => console.log('error', error))
            }
            else{
                  const id = this.$route.params.id
                  fetch('https://kgenest-tp3-420-15d-fx.vercel.app/areas/' + id, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer " + localStorage.getItem('token'),
                      },
                      body: JSON.stringify({
                        name: this.name,
                        lon: parseFloat(this.longitude),
                        lat: parseFloat(this.latitude),
                        description: this.description,
                        gettingThere: this.gettingthere,
                        routes: this.routes,
                        user: this.obtenir_user_connecte(),
                      }),
                    })
                    .then(response => {
                      if(response.status === 200) {
                        return response.json();
                      } else {
                          if(response.status === 409){
                              //récupérer le nom dans le message d'erreur
                              console.log("ToDo")

                          }else
                            throw new Error("Erreur !");
                      }
                    })
                    .then(() => {
                      //pour la rétroaction
                        this.msg = "modif-lieu!"
                        this.$router.push({ name: 'Profile', params: { msg: this.msg } });   
                    })
                    .catch(error => console.log('error', error))
                }

            }
          },

    obtenir_user_connecte(){
        //valider le token
        let token = localStorage.getItem('token');
        // JWT à décoder
        // Décodage du JWT
        const decodedToken = jwtDecode(token);
   
        const dateNow = new Date();
        if (decodedToken.exp < (dateNow.getTime()/1000)) {
          localStorage.removeItem('token')
          this.$router.push("/signin");
        }
        return JSON.parse(decodedToken.data).id.toString()
    },
    validation_champs_creation_lieu(){
        //champs requis
       this.errors = [];
          const champ_name = {value: this.name, nom_champ: 'name'}
          const champ_latitude = {value: this.latitude, nom_champ: 'latitude'}
          const champ_longitude = {value: this.longitude, nom_champ: 'longitude'}
          const champ_description = {value: this.description, nom_champ: 'description'}
          const champ_gettingthere = {value: this.gettingthere, nom_champ: 'gettingthere'}
          const champs_formulaire = [champ_name, champ_latitude, champ_longitude, champ_description, champ_gettingthere]
       if(!this.name || this.name.trim() == "" || !this.latitude || this.latitude.trim() == "" || !this.longitude || this.longitude.trim() == "" || !this.description || this.description.trim() == "" || !this.gettingthere || this.gettingthere.trim() == "" )  {
	        	const err = new Error("Tous les champs sont requis");
	        	err.statusCode = 400;
            this.trouver_champs_vides_ajouter_le_message_erreur(champs_formulaire)
	        }
	        //longueur du name
	        if(champ_name.value.length == 0){
	        	const err = new Error("Au moins 1 caractère.");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "name"});
	        }
	        //latitude
          if(this.isFloat(champ_latitude.value)){
              if(champ_latitude.value < -90 && champ_latitude.value > 90){
	        	    const err = new Error("La latitude doit être comprise entre -90 et 90." );
	        	    err.statusCode = 422;
	        	    this.errors.push({resultat: false, msg_erreur: err, nom_champ: "latitude"});
	          }
          }else{
                const err = new Error("La latitude doit être un nombre." );
	        	    err.statusCode = 422;
	        	    this.errors.push({resultat: false, msg_erreur: err, nom_champ: "latitude"});
          }
          //longitude
          if(this.isFloat(champ_longitude.value)){
              if(champ_longitude.value < -180 && champ_longitude.value > 180){
	        	  const err = new Error("La longitude doit être comprise entre -180 et 180." );
	        	  err.statusCode = 422;
	        	  this.errors.push({resultat: false, msg_erreur: err, nom_champ: "longitude"});
	          }
          }
          else{
              const err = new Error("La longitude doit être un nombre." );
	        	  err.statusCode = 422;
	        	  this.errors.push({resultat: false, msg_erreur: err, nom_champ: "longitude"});
          }
          
          //description
	        if(champ_description.value.length == 0){
	        	const err = new Error("La longueur de la description doit être plus grand que 1." );
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "description"});
	        }
           //gettingthere
	        if(champ_gettingthere.value.length == 0){
	        	const err = new Error("La longueur du champ s'y rendre doit être plus grand que 1." );
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "gettingthere"});
	        }
          return this.errors;  
    },
    trouver_champs_vides_ajouter_le_message_erreur(tableau_champs){
        tableau_champs.forEach(champ => {
          if(!champ.value || champ.value === ""){
              const err = new Error(`Erreur: Paramètres manquant ou vide. Paramètre: ${champ.nom_champ}; Valeur: ${champ.value}.`);
	        	  err.statusCode = 400;
              this.errors.push({resultat: false, msg_erreur: err, nom_champ: champ.nom_champ});
          }
      })
    },
    trouver_champs_erreurs_ajouter_message_erreur(tableau_champs){
          this.champ_erreur_name = ""
          this.champ_erreur_latitude = ""
          this.champ_erreur_longitude = ""
          this.champ_erreur_description = ""
          this.champ_erreur_gettingthere = ""  
        tableau_champs.forEach(champ => {
          
         

            if(!champ.resultat){
              if(champ.nom_champ === "name")
                this.champ_erreur_name = champ.msg_erreur
              else if(champ.nom_champ === "latitude")
                this.champ_erreur_latitude = champ.msg_erreur
              else if(champ.nom_champ === "longitude")
                this.champ_erreur_longitude = champ.msg_erreur
              else if(champ.nom_champ === "description")
                this.champ_erreur_description = champ.msg_erreur
              else if(champ.nom_champ === "gettingthere")
                this.champ_erreur_gettingthere = champ.msg_erreur  
            }
      })
  },
  isFloat(input) {
      return !isNaN(parseFloat(input));
    },
    remplir_champs(data){
      if(data){
        this.name = data.name
        this.latitude = data.lat.toString()
        this.longitude = data.lon.toString()
        this.description = data.description
        this.gettingthere = data.gettingThere
        if(data.routes.length > 0)
          this.routes = data.routes
        else
          this.aucun = true
      }
    }
  },
    // cycle de vie de l'application
    created() {
    
      this.obtenir_user_connecte()
    },
    mounted(){
      if(this.$route.name == "AreasIdEdit"){
        this.page_titre = "Modification d'un lieu" 
        this.modification = true
        this.bouton = "Modifier"
        this.taille_police = true
        const id = this.$route.params.id
        fetch(`https://kgenest-tp3-420-15d-fx.vercel.app/areas/${id}/routes/`, {
         headers: {
             "Content-Type": "application/json",
           },
         })
         .then(response => {
       
           return response.json()
         })
         .then((data) => {
     
          this.remplir_champs(data)
         })
         .catch(error => console.log('error', error))
        }
        else{
          this.bouton = "Créer"
          this.modification = false
          this.page_titre = "Création d'un lieu" 
        }
          
      },

}

</script>