<template>
  <main class="container">
    <h1>{{ area.name }}</h1>
    <div class="background_color_d9d9d9 width_25p" id="mapContainer">

    </div> 
    <h2>Description</h2>
    <p class="mb-3">{{ area.description }}</p>
    <h2>S'y rendre</h2>
    <p class="mb-3">{{ area.gettingThere }}</p>
    <h2>Voies</h2>
    <ul class="ps-0">
        <RoutesList :routes="routes"/>
    </ul>
  </main>
</template>


<script>
import "leaflet/dist/leaflet.css";
import L from "leaflet";
import RoutesList from '../components/RoutesList.vue'
export default {
  name: 'AreaView',
  components: {
    RoutesList 
  },
  data() {
    return {
      routes: [],
      area: {},
      map: null,
      latitude: 0,
      longitude: 0,

    };
  },
  async mounted() {
    this.initMap();
    this.findUserLocation();
  },

  computed: {
    
    // mapState permet de récupérer les données du CounterStore (state et getters)

  },
  methods: {
    /** Comment je lui ai passé son id */
    getLaArea(id) {
      fetch('https://kgenest-tp3-420-15d-fx.vercel.app/areas/'+id , {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              }
            })
      .then(response => {
  
        return response.json()
      })
      .then(data => {
       //Les trier
        let les_routes = data.routes
        les_routes.sort((a, b) => {
        // Only sort on age if not identical
        if (a.grade.value < b.grade.value) return -1;
        if (a.grade.value > b.grade.value) return 1;
        // Sort on name
        if (a.name < b.name) return -1;
        if (a.name > b.name) return 1;
        // Both idential, return 0
        return 0;
      });
        this.routes = les_routes;
        this.area = data;
        this.latitude = data.lat;
        this.longitude = data.lon;

        this.map.setView([this.latitude , this.longitude], 13);
        L.marker([this.latitude, this.longitude], { draggable: true }).addTo(this.map);
      })
      .catch(error => console.log('error', error))
    },
    initMap() {
      this.map = L.map("mapContainer").setView([this.latitude, this.longitude], 16);
      L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(this.map);
    },
    findUserLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
      
            const { latitude, longitude } = position.coords;
            this.map.setView([latitude, longitude], 13);
            L.marker([latitude, longitude], { draggable: true }).addTo(this.map);

          
          },
          (error) => {
            console.error("erreur:", error);
            if (error.code == error.PERMISSION_DENIED) {
              alert("Vous devez autoriser la géolocalisation pour utiliser cette fonctionnalité.");
            }
          }
        );
      } else {
        console.error("La géolocalisation n'est pas supportée par votre navigateur.");
      }
    },
    
  },
   // cycle de vie de l'application
   created() {
      const id = this.$route.params.id
     
      this.getLaArea(id)

    },
    

};

</script>


<style scoped>

</style>


<style>
#mapContainer {
  width: 600px;
  height: 400px;
}
</style>
