

<template>
  <main class="container">
      <div class="ms-0 display_lg_flex justify_content_lg_between flex_wrap">
        <div class="col_lg_47 color_271563">
          <h1>Au-delà du guide</h1>
          <p>Des milliers de voies partagées par passioné(e)s d'escalade comme vous.</p>
        </div>
        <div class="col_lg_47">
          <div class="background_color_ebebeb border_radius_0375rem p-3">
              <p class="fs-5">Trouver une voie</p>
              <div class="ms-0 display_flex align_items_center flex_wrap my-3 width_90p justify_content_center fs-6">
                <span class="py-1 me-2 width_10p color_271563">Type</span>
                <select v-model="getType" class="border_radius_0375rem py-2 width_25p m_left-auto color_777777" name="sel_type" id="sel_type">
                  <option :key="index" v-for="le_type, index in types" v-bind:value="le_type">{{ le_type }}</option> 
                </select>    


                <select v-model="getDifficulteMin" aria-label="difficulté min" class="border_radius_0375rem py-2 width_25p text_start ps-2 color_777777" name="sel_type" id="sel_type">
                  <option :key="index" v-for="difficulte, index in difficulteOptions" v-bind:value="difficulte">{{ difficulte.text }}</option>  
                
                </select>
                <span class="d-inline-block mx-2 color_271563">à</span>  
                <select v-model="getDifficulteMax" aria-label="difficulté max" class="border_radius_0375rem py-2 width_25p text_start ps-2 color_777777" name="sel_type" id="sel_type">
                  <option :key="index" v-for="difficulte, index in difficulteOptions" v-bind:value="difficulte">{{ difficulte.text }}</option>  
                </select>
              </div>


              <div class="ms-0 display_flex align_items_center flex_wrap my-3 width_90p fs-5">
                <span class="py-1 color_271563 width_10p me-2">Lieu</span>
                <select v-model="getArea" class=" flex_grow_1 width_75p border_radius_0375rem py-2 color_777777" name="sel_lieu" id="sel_lieu">
                    <option :key="index" :_id="areas._id" :name="areas.name" v-for="areas, index in optionAreas" v-bind:value="areas">{{ areas.name }}</option>
                 </select>
                 <span v-bind:value="champ_erreur_selectionner_un_lieu" class="invalid-feedback mt-1" :class="{ 'd_block_important': champ_erreur_selectionner_un_lieu !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_selectionner_un_lieu }}</span>
              </div>
              <div>
                <button class="ps-3 pe-2 color_white border_radius_50rem color_gradient_rouge py-2 width_35" @click="rechercherVoies">Rechercher</button>
              </div>
            <!--  fermeture de la balise div   --> 
            </div>
        </div>
      </div>
 
      

    <div>
        <p class="mb-1 color_271563">Voies de type {{ getType.text }} entre {{ getDifficulteMin.text }} et {{ getDifficulteMax.text }}</p>
        <p class="mt-1 color_271563">{{ nombre_resultats }} résultats triés par difficulté.</p>
        <ul class="ps-0">
          <RoutesList :la_area="la_area" :ajouter="ajouter" :modifier="modifier" :routes="routes"/>
        </ul>
    </div>
    
  </main>
</template>


<script>
import RoutesList from '../components/RoutesList.vue'
export default {
  name: 'HomeView',
  components: {
    RoutesList 
  },
  data() {
    return {
      getType: "",
      getDifficulte: {text: "", value: "" },
      getDifficulteMin: {text: "", value: "" },
      getDifficulteMax: {text: "", value: "" },
      getArea: {_id: "", name: ""},
      getRoutes: "",
      optionAreas : [],
      routes: null,
      nombre_resultats: 0,
      la_area: "",
      ajouter: "",
      modifier: "",
      types: ["sport", "trad", "toprope"],
      difficulteOptions: [{text: "5.8", value: 5.08}, {text: "5.9", value: 5.09}, {text: "5.10a", value: 5.101}, {text: "5.10b", value: 5.102}, {text: "5.10c", value: 5.103}, {text: "5.10d", value: 5.104}, {text: "5.11a", value: 5.111}, {text: "5.11b", value: 5.112}, {text: "5.11c", value: 5.113}, {text: "5.11d", value: 5.114}, {text: "5.12a", value: 5.121}, {text: "5.12b", value: 5.122}, {text: "5.12c", value: 5.123}, {text: "5.12d", value: 5.124}, {text: "5.13a", value: 5.131}, {text: "5.13b", value: 5.132}, {text: "5.13c", value: 5.133}, {text: "5.13d", value: 5.134}, {text: "5.14a", value: 5.141}, {text: "5.14b", value: 5.142}, {text: "5.14c", value: 5.143}, {text: "5.14d", value: 5.144}, {text: "5.15a", value: 5.151}, {text: "5.15b", value: 5.152}, {text: "5.15c", value: 5.153}, {text: "5.15d", value: 5.154}], 
      champ_erreur_selectionner_un_lieu: ""
    };
  },
  computed: {
    
    // mapState permet de récupérer les données du CounterStore (state et getters)

  },
  methods: {
      loadAreas() {
       
          fetch('https://kgenest-tp3-420-15d-fx.vercel.app/areas', {
      
           method: "GET",
               headers: {
                 "Content-Type": "application/json",
               }
           })
           .then(response => {
      
             return response.json()
           })
           .then(data => {
             this.optionAreas = [{ _id: '', name:'--selectionner un lieu--'}, ...data];
             this.getArea = this.optionAreas[0]
         
           })
           .catch(error => console.log('error', error))
         
      }
    ,
    rechercherVoies() {

      if(this.getArea.name != "--selectionner un lieu--"){
        this.champ_erreur_selectionner_un_lieu = ""

      fetch('https://kgenest-tp3-420-15d-fx.vercel.app/routes?' + new URLSearchParams({
          val_min: this.getDifficulteMin.value,
          val_max: this.getDifficulteMax.value,
          type: this.getType.toUpperCase(),
          area: this.getArea._id
      }), {
      method: "GET",
          headers: {
            "Content-Type": "application/json",
          }
      })
      .then(response => {
     
        return response.json()
      })
      .then(data => {
        //const mes_data = data
        //mes_data.sort((a, b) => a.grade.value.localeCompare(b.grade.value) || a.name - b.name);
        const nouvelle_liste = []
        for (const iterator of data) {
            const newProperty = { area_id: iterator.area._id };
            const obj = {...iterator, ...newProperty}
            nouvelle_liste.push(obj) 
        }
        this.routes = nouvelle_liste;
        this.nombre_resultats = nouvelle_liste.length

      })
        .catch(error => console.log('error', error))

      }else
          this.champ_erreur_selectionner_un_lieu = "Sélectionner un lieu. Pour rechercher des voies."
        

      },
      logout() {
        
      }
    },
     // cycle de vie de l'application
     created() {
      this.la_area = true
      this.ajouter = false
      this.modifier = false
      this.getDifficulteMin = this.difficulteOptions.at(0)
      this.getDifficulteMax = this.difficulteOptions.at(-1)
      this.getArea = "--selectionner un lieu--"
      this.getType = "sport"
    },
    mounted() {
   
      this.loadAreas();

    }
};

</script>

<style scoped>

</style>

