<script setup>
import { jwtDecode } from "jwt-decode";
</script>

<template>
  <main class="container color_271563">
    <h1>Profil</h1>
    <p>Nom: {{ nom_utilisateur }}</p>
    <div class="ms-0 display_flex align_items_center flex_wrap my-3 fs-5">
      <h2 class="fw-500">Mes lieux</h2>
      <RouterLink class="ms-3" :to="{ path: '/areas/new'}">ajouter</RouterLink>
      
    </div>
    <ul class="ps-0">
      <AreasList class="fs-6" :aucune_area="aucune_area" :modifier="modifier_voie" :supprimer="supprimer_voie" :areas="areas"/>
   </ul>
    

    <div class="ms-0 display_flex align_items_center flex_wrap my-3 fs-5">
      <h2 class="fw-500">Mes voies</h2>
      <RouterLink class="ms-3" :to="{ path: '/routes/new'}">ajouter</RouterLink>
    </div>
    <ul class="ps-0">
      <RoutesList :aucune_voie="aucune_voie" :la_area="la_area_lieu" :modifier="modifier_lieu" :supprimer="supprimer_lieu" :routes="routes"/>
    </ul>
  </main>
</template>


<script>
//const id = this.$route.params.id
import RoutesList from '../components/RoutesList.vue'
import AreasList from '../components/AreasList.vue'
export default {

  
  name: 'RouteView',
  components: {
    RoutesList,
    AreasList,
  },
  data() {
    return {
      text: "mon_id",
      route: {},
      date: "",
      routes: null,
      areas: null,
      getDifficulteMin: "5.8",
      getDifficulteMax: "5.15d",
      ajouter_lieu: "",
      modifier_lieu: "",
      la_area_lieu: "",
      ajouter_voie: "",
      modifier_voie: "",
      la_area_voie: "",
      aucune_voie: "",
      aucune_area: "",
      nom_utilisateur: "",
      id_user_verification_profil_lui_appartient: ""
    };
  },
  computed: {
    
    // mapState permet de récupérer les données du CounterStore (state et getters)

  },
  methods: {
      logout() {

      },
      loadAreasUser(){
        fetch('https://kgenest-tp3-420-15d-fx.vercel.app/areas/my-areas', {
      method: "GET",
        headers: {
          "Content-Type": "application/json",
          "Authorization": "Bearer " + localStorage.getItem('token'),
        },
      })
      .then(response => {
      
        return response.json()
      })
      .then(data => {

        //vérifier que les data lui appartiennent.
        const result = data.find(obj => obj.user._id !== this.id_user_verification_profil_lui_appartient);
        if(result)
          this.$route.push('/403');

        if(data.length == 0)
          this.aucune_area = "Aucun lieu."
        else{
          let les_areas = data
                 //Les trier
            les_areas.sort((a, b) => {
            // Only sort on age if not identical
            if (a.name < b.name) return -1;
            if (a.name > b.name) return 1;
            // Both idential, return 0
            return 0;
          });
          this.username = les_areas[0].user.username
          this.areas = les_areas 
        }
      })
        .catch(error => console.log('error', error))
      },
      obtenir_nom_utilisateur(){
        if (localStorage.getItem('token')) {
           //valider le token
          let token = localStorage.getItem('token');
            // JWT à décoder
            // Décodage du JWT
            const decodedToken = jwtDecode(token);
            const obj_data = JSON.parse(decodedToken.data);
            this.id_user_verification_profil_lui_appartient = obj_data.id
            const username = obj_data.name
            // Récupération des informations contenues dans le payload
           const dateNow = new Date();
            if (decodedToken.exp < dateNow.getTime() / 1000) 
              this.$route.push('/signin');
            return username
        }
      },
      loadRoutesUser(){
        fetch('https://kgenest-tp3-420-15d-fx.vercel.app/routes/my-routes', {
        method: "GET",
          headers: {
          "Content-Type": "application/json",
          "Authorization": "Bearer " + localStorage.getItem('token'),
        },

      })
      .then(response => {
     
        return response.json()
      })
      .then(data => {
        //vérifier que tout appartient à l'utilisateur.
        //vérifier que les data lui appartiennent.
        const result = data.find(obj => obj.user._id !== this.id_user_verification_profil_lui_appartient);
        if(result)
          this.$route.push('/403');

        if(data.length == 0)
          this.aucune_voie = "Aucune voie."
        else{
          let les_routes = data
          //Les trier
          les_routes.sort((a, b) => {
          // Only sort on age if not identical
          if (a.grade.value < b.grade.value) return -1;
          if (a.grade.value > b.grade.value) return 1;
          // Sort on name
          if (a.name < b.name) return -1;
          if (a.name > b.name) return 1;
          // Both idential, return 0
          return 0;
        });
     
          this.routes = les_routes;
          
        }
      })
        .catch(error => console.log('error', error))
      },
     
  },
     // cycle de vie de l'application
     created() {
      this.modifier_lieu = true
      this.supprimer_lieu = true
      this.modifier_voie = true
      this.supprimer_voie = true
      
    },
    mounted() {
      
      this.nom_utilisateur = this.obtenir_nom_utilisateur()
      this.loadAreasUser();
      this.loadRoutesUser();

    },
    
};


</script>