<script setup>

</script>

<template>
  <main class="container">
      
  <section class="feature col card mb-4 rounded-3 shadow-sm px-3 py-3">
      <h1>{{ route.name }}</h1>
      <p class="fw-medium">{{ route.grade.text }}</p>
      <div class="ms-0 display_flex align_items_center flex_wrap my-3 fs-5 color_271563">
        <span class="width_20p">Lieu:</span>
        <RouterLink :to="`/areas/${ route.area._id }`" class="">{{ route.area.name }}</RouterLink>
      </div>
      <div class="ms-0 display_flex align_items_center flex_wrap my-3 fs-5 color_271563">
        <span class="width_20p">Type:</span>
        <span>{{ route.type }}</span>
      </div>
      <div class="ms-0 display_flex align_items_center flex_wrap my-3 fs-5 color_271563">
        <span class="width_20p">Partagé par: </span>
        <span>{{ route.user.username }} le {{ date }}</span>
      </div>
  </section>

  <section class="feature col card mb-4 rounded-3 shadow-sm px-3 py-3">
      <div class="mb-5">
        <h2>Approche</h2>
        <p class="">{{ route.approach }}</p>
        
      </div>
      <div class="mb-5">
        <h2>Description</h2>
        <p class="">{{ route.description }}</p>
      </div>
      <div class="mb-5">
        <h2>Descente</h2>
        <p class="">{{ route.descent }}</p>
      </div>
  </section>


  </main>
</template>


<script>
//const id = this.$route.params.id
export default {
  name: 'RouteView',
  components: {

  },
  data() {
    return {
      text: "mon_id",
      route: {},
      date: "",
    };
  },
  computed: {
    
    // mapState permet de récupérer les données du CounterStore (state et getters)

  },
  methods: {
      logout() {

      },
      getLaRoute(id) {

      fetch("https://kgenest-tp3-420-15d-fx.vercel.app/routes/" + id, {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              }
            })
      .then(response => response.json())
      .then(data => {
   
        this.route = data
 
        // mettre la date
        let dateObj = new Date(data.createdAt);
        const formattedDate = dateObj.toLocaleString("fr-CA", {
          day: "numeric",
          month: "long",
          year: "numeric",
        });
        this.date = formattedDate
      
      })
      .catch(error => {
        console.log(error);
      });
    }
  },
     // cycle de vie de l'application
     created() {
      const id = this.$route.params.id

      this.text = id
      this.getLaRoute(id)

      
    },
    mounted() {

     
    },
    

};

</script>

