<script setup>

</script>

<template>

   <main class="container">
    <section class="color_271563 fs-5">
        <h1>Création d'une voie</h1>
          <form class="mt-2 w-100" @submit.prevent="creer_voie" novalidate>
            <div class="width_65p">
                <div class="mb-3">
                  <label class="d_block_important" for="txt_name">Nom</label>
                  <input class="form-control py-2" v-model="name" placeholder="" id="txt_name"/>
                  <span v-bind="champ_erreur_name" class="invalid-feedback mt-1" :class="{ 'd_block_important': champ_erreur_name !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_name }}</span>
                </div>
                <div class="ms-0 display_flex flex_wrap my-3 fs-5">
                  <div class="width_40p">
                    <label class="py-1 me-2 d_block_important color_271563" for="sel_type">Type</label>
                    <select v-model="getType" class="border_radius_0375rem width_100p py-2 color_777777 fs-6" name="sel_type" id="sel_type">
                      <option>--select--</option>
                      <option :key="index" v-for="le_type, index in types" v-bind:value="{ key: index, text: le_type }">{{ le_type }}</option> 
                    </select>
                    <span v-bind="champ_erreur_type" class="invalid-feedback mt-1" :class="{ 'd_block_important': champ_erreur_type !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_type }}</span>
                  </div>
                  <div class="width_40p ms-3">
                    <label class="py-1 me-2 d_block_important color_271563" for="sel_difficulte">Difficulté</label>
                    <select v-model="getDifficulte" aria-label="la difficulté" class="border_radius_0375rem width_100p py-2 color_777777 fs-6" name="sel_difficulte" id="sel_difficulte">
                      <option :key="index" v-for="difficulte, index in difficulteOptions" v-bind:value="difficulte">{{ difficulte.text }}</option>  
                    </select>
                    <span v-bind="champ_erreur_difficulte" class="invalid-feedback mt-1" :class="{ 'd_block_important': champ_erreur_difficulte !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_difficulte }}</span>
                  </div> 
                </div>
            </div>
  
            <div class="mb-3 width_65p">
               <label class="py-1 me-2 d_block_important color_271563" for="sel_lieu">Lieu</label>
               <select v-model="getArea" class="flex_grow_1 width_75p border_radius_0375rem py-2 color_777777 fs-6" name="sel_lieu" id="sel_lieu">
                <option :key="index" v-for="area, index in optionAreas" v-bind:value="area">{{ area.name }}</option>    
              </select>
              <span v-bind="champ_erreur_lieu" class="invalid-feedback mt-1" :class="{ 'd_block_important': champ_erreur_lieu !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_lieu }}</span>
            </div> 

            <div class="w-100">
              <div class="mb-3">
                  <label class="d_block_important mb-1" for="textarea_approche">Approche</label>
                  <textarea class="form-control py-2" v-model="approche" placeholder="" rows="2" id="textarea_approche">
                  </textarea>
                  <span v-bind="champ_erreur_approche" class="invalid-feedback mt-1" :class="{ 'd_block_important': champ_erreur_approche !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_approche }}</span>
              </div>
              <div class="mb-3">
                  <label class="d_block_important mb-1 w-100" for="textarea_description">Description</label>
                  <textarea class="form-control py-2" v-model="description" placeholder="" rows="2" id="textarea_description">
                  </textarea>
                  <span v-bind="champ_erreur_description" class="invalid-feedback mt-1" :class="{ 'd_block_important': champ_erreur_description !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_description }}</span>
              </div>
              <div class="mb-3">
                  <label class="d_block_important mb-1 w-100" for="textarea_descente">Descente</label>
                  <textarea class="form-control py-2" v-model="descente" placeholder="" rows="2" id="textarea_descente">
                  </textarea>
                  <span v-bind="champ_erreur_descente" class="invalid-feedback mt-1" :class="{ 'd_block_important': champ_erreur_descente !== undefined ? 'd_block_important' : '' }">{{ champ_erreur_descente }}</span>
              </div>
            </div>
            <button class="px-5 pe-3 color_white border_radius_50rem color_gradient_rouge py-2" type="submit">{{ bouton }}</button>
          </form>

    </section>
  </main>

</template>

<script>
import { jwtDecode } from "jwt-decode";
export default {
  name: 'AreaFormView',
  components: {

  },
  data() {
    return {
      name: "",
      types: ["sport", "trad", "toprope"],
      difficulteOptions: [{text: "--select--", value: ""}, {text: "5.8", value: 5.08}, {text: "5.9", value: 5.09}, {text: "5.10a", value: 5.101}, {text: "5.10b", value: 5.102}, {text: "5.10c", value: 5.103}, {text: "5.10d", value: 5.104}, {text: "5.11a", value: 5.111}, {text: "5.11b", value: 5.112}, {text: "5.11c", value: 5.113}, {text: "5.11d", value: 5.114}, {text: "5.12a", value: 5.121}, {text: "5.12b", value: 5.122}, {text: "5.12c", value: 5.123}, {text: "5.12d", value: 5.124}, {text: "5.13a", value: 5.131}, {text: "5.13b", value: 5.132}, {text: "5.13c", value: 5.133}, {text: "5.13d", value: 5.134}, {text: "5.14a", value: 5.141}, {text: "5.14b", value: 5.142}, {text: "5.14c", value: 5.143}, {text: "5.14d", value: 5.144}, {text: "5.15a", value: 5.151}, {text: "5.15b", value: 5.152}, {text: "5.15c", value: 5.153}, {text: "5.15d", value: 5.154}], 
      optionAreas: "",
      getArea: {_id: "", name: ""},
      getType: "--select--",
      getDifficulte: {text: "", value: "" },
      approche: "",
      description: "",
      descente: "",
      errors: [],
      champ_erreur_name: "",
      champ_erreur_type: "",
      champ_erreur_difficulte: "",
      champ_erreur_lieu: "",
      champ_erreur_description: "",
      champ_erreur_approche: "",
      champ_erreur_descente: "",
      modification: "",
      bouton: "",
      le_area_id: "",
      msg: ""
    };
  },
  computed: {
    
    // mapState permet de récupérer les données du CounterStore (state et getters)

  },
  methods: {
    /** Comment je lui ai passé son id */
    loadAreas() {
      fetch('https://kgenest-tp3-420-15d-fx.vercel.app/areas', {
      
      method: "GET",
          headers: {
            "Content-Type": "application/json",
          }
      })
      .then(response => {
   
        return response.json()
      })
      .then(data => {
        this.optionAreas = [{ _id: '', name:'--select--'}, ...data];
        this.getArea = this.optionAreas[0]
      
      })
      .catch(error => console.log('error', error))
    },
    creer_voie() {
      const champ_erreur_array = this.validation_champs_creation_voie()
      if(champ_erreur_array.length > 0){
        this.trouver_champs_erreurs_ajouter_message_erreur(champ_erreur_array)
      }
      else{
          if(this.$route.name == "RoutesNew"){
            const le_user = this.obtenir_user_connecte()
            fetch('https://kgenest-tp3-420-15d-fx.vercel.app/routes/', {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
                  "Authorization": "Bearer " + localStorage.getItem('token'),
                },
                  body: JSON.stringify({
                    name: this.name,
                    type: this.getType.text.toUpperCase(),
                    grade: {"text" : this.getDifficulte.text, "value" : this.getDifficulte.value},
                    description: this.description,
                    approche: this.approche,
                    descente: this.descente,
                    area: this.getArea._id,
                    user: le_user,
                }),
              })
              .then(response => {
                if(response.status === 201) {
                    return response.json();
                  } else {
                      if(response.status === 409){
                          //récupérer le nom dans le message d'erreur
                          console.log("ToDo")

                      }else
                        throw new Error("Erreur !");
                  }
              })
              .then(() => {
                //pour la rétroaction
                this.msg = "creer-voie!"
                this.$router.push({ name: 'Profile', params: { msg: this.msg } });   
               // this.$router.push("/profile");
              })
              .catch(error => console.log('error', error))
            }
            else{
                  const id = this.$route.params.id
                  const le_user = this.obtenir_user_connecte()
                  fetch('https://kgenest-tp3-420-15d-fx.vercel.app/routes/' + id, {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer " + localStorage.getItem('token'),
                      },
                      body: JSON.stringify({
                        name: this.name,
                        type: this.getType.text,
                        grade: {"text" : this.getDifficulte.text, "value" : this.getDifficulte.value},
                        description: this.description,
                        approche: this.approche,
                        descente: this.descente,
                        area: this.getArea._id,
                        user: le_user,
                      }),
                    })
                    .then(response => {
                     if(response.status === 200) {
                        return response.json();
                      } else {
                          if(response.status === 409){
                              //récupérer le nom dans le message d'erreur
                              console.log("ToDo")

                          }else
                            throw new Error("Erreur !");
                      }
                    })
                    .then(() => {
              
                      //pour la rétroaction
                      this.msg = "modif-voie"
                      this.$router.push({ name: 'Profile', params: { msg: this.msg } });
                    })
                    .catch(error => console.log('error', error))
                }
            }
          },
    obtenir_user_connecte(){
        //valider le token
        let token = localStorage.getItem('token');
        // JWT à décoder
        // Décodage du JWT
        const decodedToken = jwtDecode(token);
    
        const dateNow = new Date();
        if (decodedToken.exp < (dateNow.getTime()/1000)) {
          localStorage.removeItem('token')
          this.$router.push("/signin");
        }
        return JSON.parse(decodedToken.data).id.toString()
    },
    validation_champs_creation_voie(){
        //champs requis
       this.errors = [];
          const champ_name = {value: this.name, nom_champ: 'name'}
          const champ_type = {value: this.getType, nom_champ: 'type'}
          const champ_difficulte = {value: this.getDifficulte.value, nom_champ: 'difficulte'}
          const champ_lieu = {value: this.getArea.name, nom_champ: 'lieu'}
          const champ_description = {value: this.description, nom_champ: 'description'}
          const champ_approche = {value: this.approche, nom_champ: 'approche'}
          const champ_descente = {value: this.descente, nom_champ: 'descente'}
          const champs_formulaire = [champ_name, champ_type, champ_difficulte, champ_lieu, champ_description, champ_approche, champ_descente]
       if(!this.name || this.name.trim() == "" || !this.getType || this.getType == "--select--" || !this.getDifficulte.value || this.getDifficulte.value == "--select--"  || !this.getArea.name || this.getArea.name == "--select--" || !this.description || this.description.trim() == "" || !this.approche || this.approche.trim() == "" || !this.descente || this.descente.trim() == "")  {
	        	const err = new Error("Tous les champs sont requis");
	        	err.statusCode = 400;
            this.trouver_champs_vides_ajouter_le_message_erreur(champs_formulaire)
	        }
	        //longueur du name
	        if(champ_name.value.length == 0){
	        	const err = new Error("Au moins 1 caractère.");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "name"});
	        }
          //type
          if(champ_type.value == "--select--"){
	        	const err = new Error("Choisir un type.");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "type"});
	        }
          //difficulte
          if(champ_difficulte.value == "--select--"){
	        	const err = new Error("Choisir une difficulté.");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "difficulte"});
	        }
          //difficulte
          if(champ_lieu.value == "--select--"){
	        	const err = new Error("Choisir un lieu.");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "lieu"});
	        }
          //description
	        if(champ_description.value.length == 0){
	        	const err = new Error("La longueur de la description doit être plus grand ou égal à 1." );
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "description"});
	        }
          //approche
	        if(champ_approche.value.length == 0){
	        	const err = new Error("La longueur du champ approche doit être plus grand ou égal à 1." );
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "approche"});
	        }
           //descente
	        if(champ_descente.value.length == 0){
	        	const err = new Error("La longueur du champ descente doit être plus grand ou égal à 1." );
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "descente"});
	        }
          return this.errors;  
    },
    trouver_champs_vides_ajouter_le_message_erreur(tableau_champs){
        tableau_champs.forEach(champ => {
          if(!champ.value || champ.value === ""){
              const err = new Error(`Erreur: Paramètres manquant ou vide. Paramètre: ${champ.nom_champ}; Valeur: ${champ.value}.`);
	        	  err.statusCode = 400;
              this.errors.push({resultat: false, msg_erreur: err, nom_champ: champ.nom_champ});
          }
      })
    },
    trouver_champs_erreurs_ajouter_message_erreur(tableau_champs){
        
          this.champ_erreur_name = ""
          this.champ_erreur_type = ""
          this.champ_erreur_difficulte = ""
          this.champ_erreur_lieu = ""
          this.champ_erreur_description = ""
          this.champ_erreur_approche = ""
          this.champ_erreur_descente = ""
      tableau_champs.forEach(champ => {
          
          

            if(!champ.resultat){
              if(champ.nom_champ === "name")
                this.champ_erreur_name = champ.msg_erreur
              else if(champ.nom_champ === "type")
                this.champ_erreur_type = champ.msg_erreur
              else if(champ.nom_champ === "difficulte")
                this.champ_erreur_difficulte = champ.msg_erreur
              else if(champ.nom_champ === "lieu")
                this.champ_erreur_lieu = champ.msg_erreur
              else if(champ.nom_champ === "description")
                this.champ_erreur_description = champ.msg_erreur
              else if(champ.nom_champ === "approche")
                this.champ_erreur_approche = champ.msg_erreur  
              else if(champ.nom_champ === "descente")
                this.champ_erreur_descente = champ.msg_erreur  
            }
      })




  },
  isFloat(input) {
      return !isNaN(parseFloat(input));
    },
  remplir_champs(data){
      if(data){
        this.name = data.name
        this.getType = data.getType
        this.getDifficulte = data.getDifficulte
        this.description = data.description
        this.approche = data.approche
        this.descente = data.descente
      }
    },
},
    // cycle de vie de l'application
    created() {
      this.obtenir_user_connecte()
      this.getDifficulte = this.difficulteOptions[0]
    },
    mounted(){
      this.optionAreas = this.loadAreas()
      if(this.$route.name == "RoutesIdEdit"){
        this.modification = true
        this.bouton = "Modifier"
        const id = this.$route.params.id
        fetch(`https://kgenest-tp3-420-15d-fx.vercel.app/routes/${id}`, {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              }
            })
         .then(response => {
         
           return response.json()
         })
         .then((data) => {
    
          this.remplir_champs(data)
         })
         .catch(error => console.log('error', error))
        }
        else{
          this.bouton = "Créer"
          this.modification = false
        }
          
      },

}

</script>