<template>
  <main class="container">

      <section class="color_271563 width_75p">
   
          <h1 >Création d'un compte</h1>
          <form class="" @submit.prevent="SignUp" novalidate>
            <div class="mb-3">
              <label class="d-block"  for="inp_nom_utilisateur">Nom d'utilisateur</label>
              <input class="form-control" type="text" id="inp_nom_utilisateur" v-model="username" placeholder=""/>
              <span class="invalid-feedback" :class="{ 'd_block_important': champ_erreur_nom_username !== undefined ? 'd_block_important' : '' }" v-bind="champ_erreur_nom_username">{{ champ_erreur_nom_username }}</span>
              <span class="invalid-feedback" v-bind:class="{ d_block_important: is_selected_username }">{{ champ_erreur_fetch_username }}</span>
            </div>


            <div class="mb-3">
              <label class="d-block" for="inp_courriel">Courriel</label>
              <input class="form-control py-2" type="email" id="inp_email" v-model="email" placeholder=""/>
              <span class="invalid-feedback" :class="{ 'd_block_important': champ_erreur_nom_email !== undefined ? 'd_block_important' : '' }" v-bind="champ_erreur_nom_email">{{ champ_erreur_nom_email }}</span>
              <span class="invalid-feedback" v-bind:class="{ d_block_important: is_selected_email }">{{ champ_erreur_fetch_email }}</span>
            </div>


            <div class="mb-3">
              <label class="d-block" for="inp_password">Mot de passe</label>
              <input class="form-control py-2" type="password" id="inp_password" v-model="password" placeholder=""/>
              <span class="invalid-feedback" :class="{ 'd_block_important': champ_erreur_nom_password !== undefined ? 'd_block_important' : '' }" v-bind="champ_erreur_nom_password">{{ champ_erreur_nom_password }}</span>
            </div>

            <div class="mb-3">
              <label class="d-block" for="inp_confirmation_password">Confirmation du mot de passe</label>
              <input class="form-control py-2" type="password" id="inp_confirmation_password" v-model="confirmation_password" placeholder=""/>
              <span class="invalid-feedback" :class="{ 'd_block_important': champ_erreur_nom_confirmed_password !== undefined ? 'd_block_important' : '' }" v-bind="champ_erreur_nom_confirmed_password"  >{{ champ_erreur_nom_confirmed_password }}</span>
            </div>
            <button class="ps-4 pe-3 color_white border_radius_50rem color_gradient_rouge py-2 width_25p" @click="SignUp" type="submit">Créer</button>
            
          </form>
          
      </section>

  </main>
</template>
<script>

  export default {

    data: () => {
      return {
        username: "",
        email: "",
        password: "",
        confirmation_password: "",
        errors: null,
        champ_erreur_nom_username: "",
        champ_erreur_nom_email: "",
        champ_erreur_fetch_username: "",
        champ_erreur_fetch_email: "",
        champ_erreur_nom_password: "",
        champ_erreur_nom_confirmed_password: "",
        msg: "",
        is_selected_username: false,
        is_selected_email: false,
      }
    },
    methods: {
      checkForm() {
         
          this.errors = [];
	        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          const champ_username = {value: this.username, nom_champ: 'username'}
          const champ_email = {value: this.email, nom_champ: 'email'}
          const champ_password = {value: this.password, nom_champ: 'password'}
          const champ_confirmed_password = {value: this.confirmation_password, nom_champ: 'confirmation_password'}
          const champs_formulaire = [champ_username, champ_email, champ_password, champ_confirmed_password]
          
          //champs requis
	        if (!this.username || this.username.trim() == "" || !this.email || this.email.trim() == "" || !this.password || this.password.trim() == "" || !this.confirmation_password|| this.confirmation_password.trim() == "") {
	        	const err = new Error("Tous les champs sont requis");
	        	err.statusCode = 400;
            this.trouver_champs_vides_ajouter_le_message_erreur(champs_formulaire)
	        }
	        //username
	        if (this.username.length < 3 || this.username.length > 50) {
	        	const err = new Error("Entre 3 et 50 caractères.");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "username"});
	        }
	        //email
	        if(!emailRegex.test(this.email)){
	        	const err = new Error("Le format du courriel est invalide");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "email"});
	        }
	        //longueur du email
	        if(this.email.length > 50){
	        	const err = new Error("Pas plus de 50 caractères.");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "email"});
	        }
	        //mot de passe
	        if(this.password.length < 6){
	        	const err = new Error("Le mot de passe doit contenir au moins 6 caracères" );
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "password"});
	        }
	        if (this.password !== this.confirmation_password) {
	        	const err = new Error("Les mots de passes ne correspondent pas" );
	        	err.statusCode = 409;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "password"});
	        }
          return this.errors;       
        },
        SignUp() {
        //validation
          this.errors = this.checkForm()
          if(this.errors.length > 0){
         
            this.trouver_champs_erreurs_ajouter_message_erreur(this.errors)

          }
          else{
              fetch("https://kgenest-tp3-420-15d-fx.vercel.app/users/", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: this.username,
                email: this.email,
                password: this.password,
                confirmedPassword: this.confirmation_password,
              }),
            })
            .then(function (response) {          
              return response.json()
            })
            .then((data) => {
                if(data.statusCode == undefined) {
                    this.msg = "user"
                    this.$router.push({ name: 'Signin', query: { msg: this.msg } });
                }else{
                  if(data.statusCode === 409){
                    this.is_selected_username = false
                    this.is_selected_email = false
                    const array_info_err_champ = data.message.split('*')
                    let champ_erreur_username;
                    let champ_erreur_email;
                    if(array_info_err_champ.length > 1)
                      champ_erreur_email = array_info_err_champ[1].split(':')[1].trim()
                    if(array_info_err_champ.length > 2)
                      champ_erreur_username = array_info_err_champ[2].split(':')[1].trim()
                    if(champ_erreur_email === this.email){
                      this.champ_erreur_fetch_email = `Ce courriel n'est pas disponible: ${champ_erreur_email}`
                      this.is_selected_email = true
                    }
                    if(champ_erreur_username === this.username){
                      this.champ_erreur_fetch_username = `Ce nom d'utilisateur n'est pas disponible: ${champ_erreur_username}`
                      this.is_selected_username = true
                    }
                     
                    
                  }
                  else{
                    throw data; 
                  }   
                }                    
            })
            .catch((err) => {
              console.error('Error:', err);
            });
          }
          
      },
      gerer_les_erreurs(){
        const errors = this.errors
        let les_errors_filtres = errors
          .filter((x) => {
              return x.resultat == true
          })
        les_errors_filtres  


      },
    trouver_champs_vides_ajouter_le_message_erreur(tableau_champs){
        tableau_champs.forEach(champ => {
          if(!champ.value || champ.value === ""){
              const err = new Error(`Erreur: Paramètres manquant ou vide. Paramètre: ${champ.nom_champ}; Valeur: ${champ.value}.`);
	        	  err.statusCode = 400;
              this.errors.push({resultat: false, msg_erreur: err, nom_champ: champ.nom_champ});
          }
      })
    },
      trouver_champs_erreurs_ajouter_message_erreur(tableau_champs){
          this.champ_erreur_nom_username = ""
          this.champ_erreur_nom_email = ""
          this.champ_erreur_nom_password = ""
          this.champ_erreur_nom_confirmed_password = ""
        tableau_champs.forEach(champ => {

            if(!champ.resultat){
              if(champ.nom_champ === "username")
                this.champ_erreur_nom_username = champ.msg_erreur
              else if(champ.nom_champ === "email")
                this.champ_erreur_nom_email = champ.msg_erreur
              else if(champ.nom_champ === "password")
                this.champ_erreur_nom_password = champ.msg_erreur
              else if(champ.nom_champ === "confirmation_password")
                this.champ_erreur_nom_confirmed_password = champ.msg_erreur
            }
      })



    },
  }
}

</script>
