<template>
  <main class="container">
    <section class="color_271563 width_75p">
        <h1>Connexion</h1>
        <form @submit.prevent="login" novalidate>
          <div class="mb-3">
            <label class="d-block" for="inp_courriel">Courriel</label>
            <input class="form-control py-2" v-model="email" placeholder="Courriel" />
          </div>
          
          <div class="mb-3">
            <label class="d-block" for="inp_courriel">Mot de passe</label>
            <input class="form-control py-2" v-model="password" placeholder="Mot de passe" type="password" />
            
          </div>
          <button class="ps-4 pe-3 color_white border_radius_50rem color_gradient_rouge py-2" type="submit">Se connecter</button>
          <span v-bind:class="{ d_block_important: isSelected }" class="invalid-feedback">{{ champ_erreur }}</span>
        </form>
    </section>
  </main>
</template>
<script>
  export default {
    data: () => {
      return {
        email: "",
        password: "",
        champ_erreur: "",
        errors: null,
        isSelected: false
      }
    },
    methods: {
      
      login() {
        const champ_erreur_array = this.validation_champs_connexion()
      if(champ_erreur_array.length > 0){
        this.champ_erreur = "Erreur: Courriel ou mot de passe invalide."
        this.isSelected = true

      }
      else{
        fetch("https://kgenest-tp3-420-15d-fx.vercel.app/signIn", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email: this.email,
            password: this.password,
          }),
        })
        .then((response) => {
          if (response.status === 200) {
            return response.json();
          } else {
            throw new Error("Erreur !");
          }
        })
        .then((data) => {
          //ne pas avoir l'ancien token
          localStorage.removeItem('token')
          localStorage.setItem("token", data.token);
          this.$router.push("/");
        })
        .catch((error) => {
          console.log(error);
        });
      }
    },
    validation_champs_connexion(){
       //champs requis
       this.errors = [];
	        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          const champ_email = {value: this.email, nom_champ: 'email'}
          const champ_password = {value: this.password, nom_champ: 'password'}
          const champs_formulaire = [champ_email, champ_password] 
       if (!this.email || this.email.trim() == "" || !this.password || this.password.trim() == "") {
	        	const err = new Error("Tous les champs sont requis");
	        	err.statusCode = 400;
            this.trouver_champs_vides_ajouter_le_message_erreur_signin(champs_formulaire)
	        }
	        //email
	        if(!emailRegex.test(this.email)){
	        	const err = new Error("Le format du courriel est invalide");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "email"});
	        }
	        //longueur du email
	        if(this.email.length > 50){
	        	const err = new Error("Pas plus de 50 caractères.");
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "email"});
	        }
	        //mot de passe
	        if(this.password.length < 6){
	        	const err = new Error("Le mot de passe doit contenir au moins 6 caracères" );
	        	err.statusCode = 422;
	        	this.errors.push({resultat: false, msg_erreur: err, nom_champ: "password"});
	        }

          return this.errors;  
    },
    trouver_champs_vides_ajouter_le_message_erreur_signin(tableau_champs){
        tableau_champs.forEach(champ => {
            if(!champ.value || champ.value === ""){
              if(champ.nom_champ === "email" || champ.nom_champ === "password")
                this.champ_erreur = "Erreur: Courriel ou mot de passe invalide."
            }
      })
    },
  },
  
}
</script>
