*{
    box-sizing: border-box;
  }
  
.container{
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
  }





/** element html */


ul li{
    font-size: 1rem;
}


select {
    text-align: center;
    padding-right: 0.5rem;
    font-size: 1.15rem;
}


body{
    font-size: 1.5rem;
}

a, span, button {
    font-size: 1.15rem;

}

a, .cursor_delete {
    text-decoration: underline;
    color: #0000EE;
    &:hover {
        cursor: pointer;
    }
}





p {
    font-size: 1rem;
}


/** positionnement */ 


.justify_content_center{
    justify-content: center;
}


.justify_content_between{
    justify-content: space-between;
}


.justify_content_lg_between{
    justify-content: space-between;
}



.justify_content_flex_end{
    justify-content: flex-end;
}


.justify_content_end{
    justify-content: end;
}



.justify_content_flex-start{
    justify-content: flex-start;
}


.align_items_center{
    align-items: center;
}
 

.justify_self_end{
    justify-self: end;
}


.justify_self_start{
    justify-self: start;
}


.flex_wrap{
    flex-wrap: wrap;
}


.no_wrap{
    flex-wrap:  nowrap;
}


.flex_grow_1{
    flex-grow: 1;
}

/** espacement */ 

.m_right-auto{
    margin-left: auto
}

.m_left-auto{
    margin-right: auto
}


.mx-0 {
    margin-right: 0;
    margin-left: 0;
}

.mx-1 {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.mx-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}


.my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.my-3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.me-1{
    margin-right: 0.25rem;
}

.me-2{
    margin-right: 0.50rem;
}

.me-3{
    margin-left: 1rem;
}


.mx-3{
    margin-left: 1rem;
    margin-right: 1rem;
}
    

.ms-3{
    margin-left: 1rem;
}

.mt-0{
    margin-top: 0;
}

.mt-1{
    margin-top: 0.25rem;
}

.mt-2{
    margin-top: 0.5rem;
}

.mt-3{
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 3rem;
  }


.mb-0{
    margin-bottom: 0;
}

.mb-1{
    margin-bottom: 0.25rem;
}


.mb-2{
    margin-bottom: 0.5rem;
}


.mb-3{
    margin-bottom: 1rem;
}


.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2{
    padding: 0.5rem 0;
}

.py-3{
    padding: 1rem 0;
}

.pb-3{
    padding-bottom: 1rem;
}

.p-3{
    padding: 1rem;
}

.pe-2{
    padding-right: 0.5rem;
}

.pe-3 {
    padding-right: 1rem;
}
  

.ps-0{
    padding-left: 0;
}

.ps-1{
    padding-left: 0.25rem;
}

.ps-2{
    padding-left: 0.5rem;
}

.ps-3{
    padding-left: 1rem;
}

.ps-4 {
    padding-left: 1.5rem;
}

.px-5{
    padding-left: 2rem;
    padding-right: 2rem;
}


/** largeur */ 

.width_10p{
    width: 10%;
}

.width_15p{
    width: 15%;
}

.width_20p{
    width: 20%;
}

.width_25p{
    width: 25%;
}

.width_30p{
    width: 30%;
}

.width_33p{
    width: 33%;
}


.width_35{
    width: 35%;
}


.width_35p{
    width: 35%;
}

.width_45p{
    width: 45%;
}

.width_40p{
    width: 45%;
}


.col_47{
    width: 47%;
}

.col_lg_47{
    width: 47%;
}



.col_40{
    width: 40%;
}

.width_49p{
    width: 49%;
}

.width_50p{
    width: 50%;
}

.width_55p{
    width: 55%;
}

.width_65p{
    width: 65%;
}


.width_75p{
    width: 75%;
}


.width_88p{
    width: 90%;
}


.width_90p{
    width: 90%;
}



.width_100p{
    width: 100%;
}



/** display */ 

.display_lg_flex{
    display: flex;
}

.display_flex{
    display: flex;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.d_block_important{
    display: block !important  
}


.d-inline-block{
    display: inline-block;
}


.d-grid{
    display: grid;
}

.d-flex{
    display: flex;
}


/** couleur de fond */

.background_color_eeeeee{
    background-color: #eeeeee;
}


.background_color_ebebeb{
    background-color: #ebebeb;
}


.background_color_fe3668{
    background-color: #fe3668;
}


.background_color_ff0140{
    background-color: #ff0140;
}


.color_gradient_rouge {
    background-image: radial-gradient(#fe396a,#ff0140);
}


.background_color_ffffff{
    background-color: #ffffff;
}


.background_color_d9d9d9{
    background-color: #d9d9d9;
}


/** couleur de police */

.color_777777{
    color: #777777;
}


.color_271563{
    color: #271563;
}

.color_ff0140{
    color: #ff0140;
}

.color_fe396a{
    color: #fe396a;
}

.color_0000EE{
    color: #0000EE;
}

/** classes affichage paires et impaires */
.classe_paire{
    background-color: #d9d9d9;
}

.font_color_gradient_rouge {
    font-size: 72px;
    background: -webkit-linear-gradient(#fe396a, #ff0140);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color_white{
    color: white;
}



/** border */

.border_radius_0375rem{
    border-radius: 0.375rem;
}


.border_radius_50rem{
    border-radius: 50rem;
}


/** taille de font */

.fs-1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  
  .fs-2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  
  .fs-3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  
  .fs-4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  
  .fs-5 {
    font-size: 1.25rem;
  }
  
  .fs-6 {
    font-size: 1rem;
  }
  
.fw-medium {
    font-weight: 500;
  }
  
.fs_075rem{
    font-size: 0.75rem;
}

.fs_050rem{
    font-size: 0.50rem !important
}

.fs_025rem{
    font-size: 0.25rem !important;
}

/** text */

.text_end{
    text-align: end;
}


.text_start{
    text-align: left;
}

.text_center{
    text-align: center;
}

.fw-medium{
    font-weight: 800;
}


/** formulaire */

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 2px solid black;
    border-radius: 0.25em;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: red;
  }
    
.text-bg-success {
  color: #fff !important;
  background-color: RGB(25, 135, 84);
}


.text_decoration_underline{
    text-decoration: underline;
}


/** validation */
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: orangered;
  }





@media (max-width: 900px){
    .justify_content_lg_between{
        justify-content: space-between !important;
    }
   
    .display_lg_flex{
        display: block !important;
    }

    select {
        text-align: center;
        padding-right: 0.1rem;
        font-size: 0.75rem;
    }

    a, span, button {
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
    }
    
    h1{
        font-size: 1rem;
    }

    h2, h3{
        font-size: 0.85rem;
    }

    .col_lg_47 {
        width: 100%;
    }

    ul li{
        font-size: 0.75rem !important;
    }


}



